<!DOCTYPE html>
  <html>
  <head>
    <title>Wxscreen</title>
    <%= stylesheet_link_tag    'wall', media: 'all' %>
    <%= javascript_include_tag 'wall' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div id="wrap" class="wrapbg">
      <div id="whole">
        <%= render partial: 'messages/header' %>
        <%= yield %>

      </div>
    </div>
  </body>
 </html>
